extends layout

block content
	h1 insert page
	form(method="post")
		input(type="text" name="user_name")
		br
		br
		input(type="password" name="user_password")
		br
		br
		input(type="submit" value="사람 생성")
